.homepage{
    margin-top: 70px;
    padding: 0.5em;

    .intro-text{
        padding: 40px;

        .main-content{
            font-size: 60px;
        }

        .tag-content{
            font-size: 30px;
        }
    }


}